.carousel {
  overflow: hidden;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 100px;

}

.carousel__track {
  display: flex;
  width: max-content;
  gap: 40px;
  animation: scroll 10s linear infinite;
  width: max-content;
}


.card {
  width: 580px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {

    transform: translateX(-1860px);

  }
}


/* Media Queries (tablet or mobile) */

@media (max-width:840px) {
  .carousel {
    padding-top: 60px;
  }

  .card {
    width: 420px;
  }

  .carousel__track {
    animation: scroll 5s linear infinite;
  }

}
