
.definition {
  background-color: #f5da2a;
  margin: 0 auto;
  padding: 120px 32px;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.definition .container { 
  max-width: 928px;
  margin: 0 auto;
  padding: ;
}

.definition h1 {
color: #002b28;
font-size: 18px;
padding-bottom: 12px;
letter-spacing: 1px;
font-weight: 600;

}

.definition h2 {
  color: #002b28;
  font-size: 52px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: -1em;
}

.definition .background__orange {
background-color: #e44506;
padding: 4px 24px 4px 24px;
border-radius: 24px;
}

.definition .background__green {
  background-color: #002b28;;
  padding: 4px 24px 4px 24px;
  border-radius: 24px;
  }


  /* Media Queries (tablet or mobile) */

  @media (max-width:840px) {
    .definition h2 {
      font-size: 32px;
    }

    .definition .container {
    max-width: 510px;
  
    }

    .definition h2 {
      letter-spacing: -1.5px;
      line-height: 1.5;
    }
  }
    
  
    