.footer  {
  background-color: #f5da2a;
  padding: 100px 32px 100px 32px;
}


.footer .container {
  max-width: 1160px;
  margin: 0 auto;
}

/* Section 1 */

.footer .container .section__1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
  
}

.footer .box {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;
}

.footer .box h1 {
  padding-bottom: 12px;
  font-size: 20px;
  font-weight: 500;
  color: #003e39;
}

.footer .box a {
  font-size: 16px;
  font-size: 500;
  color: #003e39;
  text-decoration: none;
}


/* Section 2 */


.footer .section__2 {
  padding: 40px 0px 40px 0px;
}


.footer .section__2 h1 {
  padding-bottom: 16px;
  font-size: 20px;
  font-weight: 500;
  color: #003e39;
}

.footer .section__2 .logo__group {
  display: flex;
  gap: 12px;
}

.footer .section__2 .logo__group a {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #e7ebe4;
  border-radius: 100px;
  padding: 0
}

.footer .section__2 .logo__group a img {
  width: 18px;
 
}


/* Section 3 */

.footer .section__3 {
  display: flex;
  justify-content: space-between;
  padding: 40px 0px 40px 0px;
}

.footer .section__3 .link__group {
  display: flex;
  gap: 20px;
}

.footer .link__group a {
  font-size: 14px;
  color: #003e39;

}

.divider {
  height: 1px;
  background-color: #557c7a;
  border: none;
  width: 100%;
}


/* Section 4 */

.footer .section__4 {
  display: flex;
  justify-content: space-between;
  
}

.footer .link__group a {
  font-size: 16px;
  color: #003e39;

}



/* Media Queries (tmobile) */

@media(max-width: 540px) {
  .footer .section__3 {
    flex-direction: column;
    align-items: center;
  }

  .footer .section__3 img {
    padding-bottom: 24px;
  }
  
}

