.footer  {
  background-color: #f5da2a;
  padding: 120px 0 120px 0;
}


.footer .container {
  max-width: 1160px;
  margin: 0 auto;
}

.footer .container .section__1 {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding: 0 32px 0 32px;

}

.footer .box {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;
  
  
}

.footer .box h1 {
  padding-bottom: 12px;
  font-size: 20px;
  font-weight: 500;
  color: #003e39;
}

.footer .box a {
  font-size: 16px;
  font-size: 500;
  color: #003e39;
  text-decoration: none;
}